<h1><%= _('Editing working copy') %></h1>

<%= render 'form' %>
<br/>
<%= link_to _('Show'), @working_copy, :class => 'show mini-icon' %> |
<%= link_to _('Back'), working_copies_path, :class => 'back mini-icon' %>
