<h1><%= _('Editing Upload Service') %></h1>

<%= render 'form' %>

<%= link_to _('Show'), @upload_service, :class => "show mini-icon" %> |
<%= link_to _('Back'), upload_services_path, :class => "back mini-icon" %>